<div class="zapHead">
	<h1>
		Zap Up!
	</h1>
</div>

<div class="inFull">
	<%= form_for :user do |f| %>
		<div class="signForm">
			<%= f.text_field :email, placeholder: "email"  %>

			<br>

			<%= f.password_field :password, placeholder: "password" %>

			<br>

			<%= f.password_field :password_confirmation, placeholder: "confirm your password", class: :confirm %>

			<br>

		</div>

		<%= f.submit "ZAP!" %>
	<% end %>
</div>
