<h1>
	Zap Up!
</h1>

<%= form_for :user do |f| %>
	<%= f.text_field :email, placeholder: "email"  %>

	<br>

	<%= f.password_field :password, placeholder: "password" %>

	<br>

	<%= f.password_field :password_confirmation, placeholder: "confirm your password" %>

	<br>

	<%= f.submit "ZAP!" %>
<% end %>
