
<div class="signUp">
	<div class="zapHead">
		<h2>
			Zap Up!
		</h2>
	</div>

	<div class="upFull">
		<div class="signForm">
			<%= form_for @user do |f| %>
				<%= f.text_field :email, placeholder: "Email" %>
				
				<br>
				
				<%= f.text_field :username, placeholder: "Username" %>
				
				<br>
				
				<%= f.password_field_tag :password %>
				
				<br>

				<%= f.password_field_tag :password_confirmation %>
				<br>
				<%= f.input :submit %>
			<% end %>
		</div>
	</div>
</div>