<div class="spikeBubble">
	<h1 class="showHead">
		<% unless !@user.fname.nil? %>
			Your Profile
		<% else %>
			<%= "#{@user.username}'s Profile" %>
		<% end %>
	</h1>
</div>

<div class="wrapper">
	<div class="profileInfo">
		<div class="profileLeft">
			<ul>
				<li>
					Username
				</li>

				<li>
					City
				</li>

				<li>
					Gender
				</li>
			</ul>
		</div>

		<div class="profileRight">
			<ul>
				<li>
					<% unless !@user.fname.nil? %>
						Add your first name!
					<% else %>
						<%= @user.username %>
					<% end %>
				</li>

				<li>
					<% unless !@user.city.nil? %>
						Add your city!
					<% else %>
					  <%= @user.city %>
					<% end %>
				</li>

				<li>
					<% unless !@user.gender.nil? %>
						Add your gender!
					<% else %>
						<%= @user.gender %>
					<% end %>
				</li>

			</ul>
		</div>
	</div>

	<%= render partial: "posts/new" %>


	<%# if @user == current_user %>
		<div class="posts">
			<!-- create div styled like thought bubble, for reach one it will create one.> -->
			<% @user.posts.reverse_each do |tweet| %>
				<div class="singleThought">
					<p class="thought">
						<%= tweet.post %>
					</p>

					<p class="thoughtId">
						<%= time_ago_in_words(tweet.created_at) %>
						<%= tweet.user.username %>
					</p>
				</div>
			<% end %>
		</div>
	<%# end %>
</div>
