<div class="spikeBubble">
	<h1>
		 Planet Bugle
	</h1>
</div>

<div class="wrapper">
	<%= render partial: "posts/new" %>

	<% if current_user %>
		<div class="posts">
			<!-- create div styled like thought bubble, for each one it will create one -->
			<% @posts.reverse_each do |tweet| -1..-10 %>
				<div class="singleThought">
					<p class="thought">
						<%= tweet.post %>
					</p>

					<p class="thoughtId">
						<%= time_ago_in_words(tweet.created_at) %> ago by
						<% if tweet.user.username? %>
							<%= tweet.user.username %>
						<% else %>
							<%= tweet.user.email %>
						<% end %>
					</p>
				</div>
			<% end %>
		</div>
	<% end %>
</div>
