<!DOCTYPE html>
<html>
	<head>
	  <title>
	  	Zap
	  </title>

	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>

	  <link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>

	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

	</head>

	<body>
	  <% if flash[:notice] %>
	    <div class="flash notice">
	      <%=flash[:notice] %>
	    </div>
	  <% end %>
	  <% if flash[:alert] %>
	    <div class="flash alert">
	      <%=flash[:alert] %>
	    </div>
	  <% end %>

		<div class="container">
			<%= yield %>
		</div>


		<% if @user == current_user %>
			<footer>
				<div class="footAll">
					<div class="footerUL">
						<%= render 'shared/nav.html.erb' %>
					</div>

					<!-- <div class="icons"> -->
						<a href="http://www.facebook.com">
							<img src="/images/icons/facebooklogo.png" class="icon">
						</a>

						<a href="http://www.instagram.com">
							<img src="/images/icons/instalogo.jpg" class="icon">
						</a>

						<a href="http://www.twitter.com">
							<img src="/images/icons/twitterlogo.png" class="icon">
						</a>
				</div>
			</footer>
		<% end %>
	</body>
</html>
